* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --second-color: #171100;
  --third-color: #5f5b53;
  --font-sen: "Sen", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =========== Common ========== */
.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background-color: var(--second-color);
  border-radius: 24.5px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.heading {
  font-family: var(--font-sen);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--second-color);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.word-break-all {
  word-break: break-all;
}

/* ============ Header ============ */
.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .navigation {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  display: flex;
  margin-left: auto;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  text-align: center;
  color: var(--third-color);
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: var(--second-color);
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  background-color: var(--second-color);
  border-radius: 1px;
}

.header .action {
  margin-left: 49px;
}

.action .sign-up-link {
  min-width: 144px;
}

/* ========== Hero ============ */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .hero-body {
  display: flex;
}

/* Hero Left */
.hero-body .media-block {
  position: relative;
  width: 48%;
}

.hero-body .media-block .image {
  display: block;
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-body .hero-sumary {
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 24px;
  background-color: #fff;
  width: 270px;
  border-radius: 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}

.hero-sumary .item {
  display: flex;
  align-items: center;
}

.hero-sumary .item + .item {
  margin-top: 22px;
}

.hero-body .item:first-child {
  margin-top: 0;
}

.hero-body .info {
  margin-left: 16px;
}

.hero-body .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero-body .item:nth-of-type(2) .icon {
  background-color: #fcefff;
}

.hero-body .item:nth-of-type(3) .icon {
  background-color: #ebeaff;
}

.hero-body .label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--third-color);
}

.hero-body .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--second-color);
}

/* Hero Right */
.hero-body .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.hero-body .desc {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--third-color);
}

.hero-body .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.see-course {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background-color: var(--primary-color);
}

.hero-body .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hero-body .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-body .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--second-color);
}

.hero-body .stats {
  margin: 8px 0 0 -28px;
}

.hero-body .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-sen);
  font-weight: 700;
  font-size: 4.4rem;
  color: var(--second-color);
}

/* ========== Popular Course =========== */
.popular {
  margin-top: 135px;
  padding: 65px 0;
}

/* Popular Top */
.popular .popular-top {
  display: flex;
  align-items: center;
}

.popular-top .heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--third-color);
}

.popular .controls {
  display: flex;
  margin-left: auto;
  gap: 18px;
}

.popular .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  cursor: pointer;
}

.popular .control-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* Popular bottom */
.popular .popular-bottom {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .courses-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
}

.popular .courses-item:hover {
  border-color: transparent;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .courses-item .img-thumb {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.popular .courses-item .info {
  padding: 16px 22px 22px 22px;
}

.popular .courses-item .heading-course,
.popular .courses-item .foot,
.popular .courses-item .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .courses-item .title a {
  padding-right: 6px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--second-color);
}

.popular .rating .value {
  margin-left: 6px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fea31b;
}

.popular .courses-item .desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--third-color);
}

.popular .courses-item .foot {
  margin-top: 12px;
}

.popular .courses-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--second-color);
}

.popular .courses-item .book-btn {
  border-radius: 25px;
  border: none;
  line-height: 54px;
}

.popular .courses-item .book-btn:hover {
  opacity: 1;
  background-color: var(--primary-color);
}

/* =========== Feedback =========== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
}

.feedback .info .avatar {
  display: block;
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .info .name {
  margin-top: 18px;
  font-family: var(--font-sen);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.feedback .info .desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.feedback .info .dotted {
  display: flex;
  margin-top: 28px;
}

.feedback .dotted .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

.feedback .dotted .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback .feedback-item .cont {
  width: 66%;
}

.feedback .cont .quote {
  margin-left: 30px;
  font-weight: 400;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
  color: #ffffff;
}

/* =========== Features =========== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

/* Features 1 */
.features .features-1 {
  display: flex;
}

.features .feature-left {
  position: relative;
  display: flex;
  width: 570px;
  height: 438px;
}

.features .feature-left .image {
  position: absolute;
  width: 270px;
  border-radius: 16px;
  object-fit: cover;
}

.features .feature-left .image-1 {
  left: 0;
  bottom: 0;
  height: 404px;
}

.features .feature-left .image-2 {
  top: 0;
  right: 0;
  height: 405px;
}

.features .feature-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 41%;
  margin-left: auto;
}

.features .feature-right .heading.lv2,
.features .info .lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

.features .feature-right .desc,
.features .info .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--third-color);
}

.features .feature-right .btn-sign-up,
.features .info .btn-join {
  margin-top: 32px;
  min-width: 137px;
  border-radius: 26px;
  background-color: var(--primary-color);
}

/* Features 2 */
.features-2 {
  margin-top: 70px;
}

.features-2 .features-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.features-2 .features-info .info {
  width: 49%;
}

.features-2 .features-info .img-feature {
  width: 470px;
  height: 440px;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

/* ========== Blog ========== */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #fffcf4;
}

/* Blog Head */
.blog .blog-head {
  text-align: center;
}

.blog .blog-head .lv2 {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  color: #130606;
}

.blog .blog-head .desc {
  margin: 16px auto auto;
  width: 448px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}

/* Blog List */
.blog .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
  overflow: hidden;
}

.blog .blog-list .blog-item {
  background-color: #fff;
  width: calc(33.33% - 20px);
  border-radius: 16px;
  flex-shrink: 0;
}

.blog .blog-list .blog-item:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .blog-item .img-blog {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.blog .blog-item .info {
  padding: 20px;
}

.blog .blog-item .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--third-color);
}

.blog .blog-item .date::before {
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  content: "";
  border-radius: 50%;
  background-color: var(--primary-color);
}

.blog .blog-item .date::after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 1px;
  left: 0;
  right: -27px;
  bottom: 0;
  background-color: #e2dfda;
  border-radius: 0.5px;
}

.blog .blog-item .head a {
  display: inline-block;
  margin: 12px 0;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--second-color);
}

.blog .blog-item .blog-btn {
  font-size: 1.4rem;
  border-radius: 25px;
}

.blog .blog-item .blog-btn:hover {
  background-color: var(--primary-color);
}

.blog .dotted {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 6px;
}

.blog .dotted .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--third-color);
  cursor: pointer;
}

.blog .dotted .active {
  cursor: default;
  background-color: var(--primary-color);
}
