* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "Sen", sans-serif; */
}

/* =========== Common ========== */
.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  height: 50px;
  padding: 16px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background-color: #171100;
  border-radius: 24.5px;
}

a {
  text-decoration: none;
}

/* ============ Header ============ */
.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .navigation {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  display: flex;
  margin-left: auto;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  text-align: center;
  color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171000;
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  background-color: #171100;
  border-radius: 1px;
}

.header .action {
  margin-left: 49px;
}

.action .sign-up-link {
  min-width: 144px;
}
